<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>space homework</title>
</head>
<body>

   
    <h1>MARS MISSIONS</h1>
    <ul class='missions'>
        <li><a href="missions/0"><%=Missions[0].name%></a></li><br>
        <li><a href="missions/1"><%=Missions[1].name%></a></li><br>
        <li><a href="missions/2"><%=Missions[2].name%></a></li><br>
        <li><a href="missions/3"><%=Missions[3].name%></a></li><br>
        <li><a href="missions/4"><%=Missions[4].name%></a></li><br>
    </ul>
</body>
</html>